progress {
  -webkit-appearance: none;
  position: fixed;
  width: 100%;
  margin: 0px -8px;
  bottom: 0;
  padding-bottom: 50px;
  background: #f6f6f6;
}

progress::-webkit-progress-bar {
    background-color: rgb(239, 133, 54);
    height: 10px;
  }

  progress::-webkit-progress-value {
    background-color: #052962;
  }